<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Operator Profile</title>
    <link rel="icon" href="/public/images/favicon.png" type="image/png">
    <link href="../public/css/profile.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <nav class="navbar" style="background-color: #E9ECF5;" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Home Page
            </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-start">
                <a href="/user/profile" class="navbar-item">
                    Profile
                </a>
            </div>
    
            <div class="navbar-end">
                <div class="navbar-item">
                    <form action="/user/logout?_method=DELETE" method="POST">
                        <button type="submit" class="button is-small is-info">Log Out</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="main-content">
    <section class="section">
      <div class="container">
          <div class="columns is-centered">
              <div class="column is-half">
                  <h1 class="title">Hi <%= user.firstName %></h1>
                  
                  <% if(messages.error) { %>
                      <div class="notification is-danger"><%= messages.error %></div>
                  <% } %>
                  <% if(messages.success) { %>
                      <div class="notification is-success"><%= messages.success %></div>
                  <% } %>
  
                  <form>
                      <div class="field">
                          <label class="label" for="firstName">First Name:</label>
                          <div class="control">
                              <input class="input" type="text" id="firstName" name="firstName" value="<%= user.firstName %>" disabled>
                          </div>
                      </div>
                
                      <div class="field">
                          <label class="label" for="lastName">Last Name:</label>
                          <div class="control">
                              <input class="input" type="text" id="lastName" name="lastName" value="<%= user.lastName %>" disabled>
                          </div>
                      </div>
                
                      <div class="field">
                          <label class="label" for="email">Email:</label>
                          <div class="control">
                              <input class="input" type="email" id="email" name="email" value="<%= user.email %>" disabled>
                          </div>
                      </div>
                
                      <div class="field">
                          <label class="label" for="brokerCode">Broker Code:</label>
                          <div class="control">
                              <input class="input" type="text" id="brokerCode" name="brokerCode" value="<%= user.brokerCode %>" disabled>
                          </div>
                      </div>
                  </form>
  
                  <% if(!passwordChanged) { %>
                      <div class="field">
                        <br>
                          <button id="changePasswordBtn" class="button is-info">Change Password</button>
                      </div>
                  <% } %>
                  
                  <div id="changePasswordForm" style="display:none;">
                      <form action="/user/changePassword" method="POST">
                          <div class="field">
                              <label class="label" for="currentPassword">Current Password:</label>
                              <div class="control">
                                  <input class="input" type="password" id="currentPassword" name="currentPassword" required>
                              </div>
                          </div>
                          
                          <div class="field">
                              <label class="label" for="newPassword">New Password:</label>
                              <div class="control">
                                  <input class="input" type="password" id="newPassword" name="newPassword" required>
                              </div>
                          </div>
                          
                          <div class="field">
                              <label class="label" for="confirmNewPassword">Confirm New Password:</label>
                              <div class="control">
                                  <input class="input" type="password" id="confirmNewPassword" name="confirmNewPassword" required>
                              </div>
                          </div>
                          
                          <div class="field">
                              <div class="control">
                                  <button type="submit" class="button is-primary">Submit</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>
  <footer class="footer" style="background-color: #F6F9FF; color: #111928; padding: 20px 0;">
    <div class="content">
      <div class="container footer-responsive" style="display: flex; justify-content: start; align-items: center;">
        <div style="flex-grow: 1; display: flex; align-items: center;">
          <img src="../public/images/favicon.png" alt="Raveum Logo" style="max-height: 40px;">
          <p style="color: #111928; margin-left: 10px; margin-bottom: 0; font-size: 18px">Raveum</p>
        </div>
        <div style="flex-grow: 2; text-align: right;">
            <span class="footer-location">
              <span class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </span>
              254 Chapman Road, 16526, Newark, DE 19702
              <br>
            </span>
            <span class="footer-email">
              <span class="icon" style="vertical-align: middle;">
                <i class="fas fa-envelope"></i>
              </span>
              <a href="mailto:support@raveum.com" style="color: #111928; vertical-align: middle; margin-left: 5px;">support@raveum.com</a>
            </span>
          </div>
      </div>
    </div>
    </footer>
    <script src="../public/js/profile.js"></script>
    </body>
</html>